# macOS
.DS_Store
.AppleDouble
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns

# Go build files
/bin/
/build/
*.exe
*.test
*.out

# Env files
.env
.env.*

# Editors
.vscode/
.idea/
*.swp
*~

# Logs and temp
*.log
tmp/
temp/
