/* =================================
			  Contact 
================================= */

#contact {
	background-color: var(--main-light);
	margin-top: -10.4vw;
}

#contact .container {
	justify-content: center;
}

#contact .padded {
	padding-top: 10.4vw;
	padding-bottom: 20vw;
}

@media (min-width: 1000px) {
	#contact .padded {
		padding-bottom: 200px;
	}

	.details-container {
		margin-top: 100px;
	}
}

/* =================================
		   Section Title 
================================= */

#contact .section-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact .section-title h2 {
	width: 100%;
	text-align: center;
}

@media (max-width: 799px) {
	#contact .section-title {
		margin-top: 5.2vw;
	}
}

/* =================================
		  Contact Details
================================= */

@media (max-width: 999px) {
	.details-container {
		margin-top: 10vw;
	}
}

.contact-details a {
	text-decoration: none;
	color: inherit;
}

.contact-details a:hover {
	text-decoration: underline;
	color: #9a8c98;
}
