/* =================================
			    Media 
================================= */

#notfound {
	background-color: var(--main-light);
	margin-top: -10.4vw;
}

#notfound .container {
	justify-content: center;
}

#notfound .padded {
	padding-top: 10.4vw;
	padding-bottom: 80px;
}

#notfound .wrapper {
	width: 100%;
	max-width: 750px;
}

/* =================================
            Section Title
================================= */

/* positional styles for section heading */

.section-title {
	display: flex;
	justify-content: center;
	margin-bottom: 2vw;
}

@media (max-width: 799px) {
	.section-title {
		margin-top: 5.2vw;
	}
}

/* font-size styles for section heading */

h2 {
	font-size: 40px;
	font-weight: 700;
	width: fit-content;
}

@media (min-width: 600px) {
	h2 {
		font-size: calc(40px + 20*((100vw - 600px) / 500));
	}
}

@media (min-width: 1100px) {
	h2 {
		font-size: 60px;
	}
}

/* =================================
			  Box Link 
================================= */

#notfound .box-link {
	margin-top: 3em;
}
