{{ define "base" }}
<!DOCTYPE html>
<html lang="en" translate="yes">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Noah suggested this -->
	<meta name="format-detection" content="telephone=no">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/base.css">
	{{ block "styles" . }}{{ end }}

	<!-- Favicon and Icons -->
	<link href="/static/icons/favicon-dark.png" rel="icon" media="(prefers-color-scheme: light)" />
	<link href="/static/icons/favicon-light.png" rel="icon" media="(prefers-color-scheme: dark)" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png" />
	<link rel="manifest" href="/static/icons/site.webmanifest" />

	<!-- Scripts -->
	<script src="/static/js/script.js" defer></script>

	<title>{{ block "pageTitle" . }}{{ end }}</title>
</head>

<body>
	<header>
		<div class="sidebar">
			<button id="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<nav>
			<div class="nav-inner">
				<ul class="nav-items">
					<li class="link"><a href="/">Home</a></li>
					<li class="link"><a href="/biography">Biography</a></li>
					<li class="link"><a href="/performances">Performances</a></li>
					<li class="link"><a href="/media">Media</a></li>
					<li class="link"><a href="/contact">Contact</a></li>
				</ul>
				<ul class="social-items">
					<li class="icon">
						<a href="https://www.instagram.com/nadiatumiwa/" target="_blank" rel="noopener noreferrer">
							<svg>
								<use href="/static/icons/instagram.svg#instagram"></use>
							</svg>
							<span class="hidden">Follow Nadia on Instagram</span>
						</a>
					</li>
					<li class="icon">
						<a href="https://www.facebook.com/nadia.tumiwa" target="_blank" rel="noopener noreferrer">
							<svg>
								<use href="/static/icons/facebook.svg#facebook"></use>
							</svg>
							<span class="hidden">Like Nadia on Facebook</span>
						</a>
					</li>
					<li class="icon">
						<a href="https://www.linkedin.com/in/nadia-tumiwa-78173419b/" target="_blank"
							rel="noopener noreferrer">
							<svg>
								<use href="/static/icons/linkedin.svg#linkedin"></use>
							</svg>
							<span class="hidden">Connect with Nadia on LinkedIn</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="page-title">
			<a href="/" target="_blank">
				<h1>nadia tumiwa</h1>
			</a>
		</div>
	</header>

	<main>
		{{ block "content" . }}{{ end }}
	</main>

	<footer>
		<div class="container padded">
			<div class="wrapper">
				<span class="title">nadia tumiwa</span>
				<div class="socials">
					<ul class="social-items">
						<li class="icon">
							<a href="https://www.instagram.com/nadiatumiwa/" target="_blank" rel="noopener noreferrer">
								<svg>
									<use href="/static/icons/instagram.svg#instagram"></use>
								</svg>
								<span class="hidden">Follow Nadia on Instagram</span>
							</a>
						</li>
						<li class="icon">
							<a href="https://www.facebook.com/nadia.tumiwa" target="_blank" rel="noopener noreferrer">
								<svg>
									<use href="/static/icons/facebook.svg#facebook"></use>
								</svg>
								<span class="hidden">Like Nadia on Facebook</span>
							</a>
						</li>
						<li class="icon">
							<a href="https://www.linkedin.com/in/nadia-tumiwa-78173419b/" target="_blank"
								rel="noopener noreferrer">
								<svg>
									<use href="/static/icons/linkedin.svg#linkedin"></use>
								</svg>
								<span class="hidden">Connect with Nadia on LinkedIn</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="note">
					<span>website by <a href="https://github.com/adamkadda/" target="_blank"
							rel="noopener noreferrer">adam kadda</a></span>
					<span>© <span id="year"></span> nadia tumiwa. all rights reserved</span>
				</div>
			</div>
		</div>
	</footer>

	<script>
		document.getElementById('year').textContent = new Date().getFullYear();
	</script>
</body>

</html>
{{ end }}
