{{ define "styles"}}
<link rel="stylesheet" href="/static/css/biography.css">
{{ end }}

{{ define "pageTitle" }}
Biography - Nadia Tumiwa
{{ end }}

{{ define "content" }}
<section id="introduction">
	<style>
		@media (max-width: 1069px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_NBB6_1320x990.jpg");
			}
		}

		@media (min-width: 1070px) and (max-width: 1333px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_NBB6_1584x1188.jpg");
			}
		}

		@media (min-width: 1334px) and (max-width: 1861px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_NBB6_2112x1584.jpg");
			}
		}

		@media (min-width: 1862px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_NBB6_2640x1980.jpg");
			}
		}

		#introduction .bg-image {
			background-position: center center;
		}
	</style>
	<div class="container padded">
		<div class="bg-image"></div>
	</div>
</section>

<section id="bio">
	<div class="container padded">
		<div class="wrapper">
			<div class="section-title">
				<h2>Biography</h2>
			</div>
			<article>
				{{ range .Biography }}
				<p>{{ . }}</p>
				{{ end }}
			</article>
		</div>
	</div>
</section>
{{ end }}

{{ define "bio" }}
{{ template "base" }}
{{ end }}
