{{ define "styles"}}
<link rel="stylesheet" href="/static/css/home.css">
{{ end }}

{{ define "pageTitle" }}
Nadia Tumiwa
{{ end }}

{{ define "content" }}
<section id="introduction">
	<style>
		@media (max-width: 1069px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1320x990.jpg");
			}
		}

		@media (min-width: 1070px) and (max-width: 1333px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1584x1188.jpg");
			}
		}

		@media (min-width: 1334px) and (max-width: 1861px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2112x1584.jpg");
			}
		}

		@media (min-width: 1862px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2640x1980.jpg");
			}
		}

		#introduction .bg-image {
			background-position: 44% center;
		}
	</style>
	<div class="container padded">
		<div class="bg-image"></div>
	</div>
</section>

<section id="brief-biography">
	<style>
		@media (max-width: 1249px) {
			#brief-biography .bg-image {
				background-image: none;
				background-color: #e9ecef;
			}
		}

		@media (min-width: 1250px) {
			#brief-biography .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7222_2200x1467.jpg");
			}
		}
	</style>
	<div class="container padded">
		<div class="bg-image"></div>
		<div class="wrapper">
			<div class="section-title">
				<h2>Biography</h2>
			</div>
			<article>
				{{ range .BriefBio }}
				<p>{{ . }}</p>
				{{ end }}
			</article>
			<a class="box-link" href="/biography">Read full bio</a>
		</div>
	</div>
</section>

<section id="upcoming-performances">
	<div class="container padded">
		<div class="wrapper">
			<div class="section-title">
				<h2>Performances</h2>
			</div>
			<div class="events">
				{{ if .UpcomingEvents }}
				{{ range $index, $event := .UpcomingEvents }}
				<article class="{{ if eq $index 0}}first {{ end }}performance">
					<div class="description">
						<h3 class="title">{{ $event.Title }}</h3>
						<h4 class="venue">{{ $event.Venue }}</h4>
						<ol class="programme">
							{{ range $pieceIndex, $piece := $event.Programme }}
							<li class="piece">
								<span class="composer">{{ $piece.Composer }}</span>: {{ $piece.Title }}
							</li>
							{{ end }}
						</ol>
					</div>
					<time datetime="{{ $event.ExactDate }}">{{ $event.Date }}</time>
					<div class="ticketing">
						<a class="buy-tickets" href="{{ $event.TicketLink }}" target="_blank">tickets</a>
					</div>
				</article>
				{{ end }}
				{{ else }}
				<h3 class="stay-posted">The next chapter is being prepared with care. Stay close for updates.</h3>
				{{ end }}
			</div>
			<div class="container">
				<a class="box-link" href="/performances">View all performances</a>
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "home" }}
{{ template "base" }}
{{ end }}
