{{ define "styles"}}
<link rel="stylesheet" href="/static/css/media.css">
{{ end }}

{{ define "pageTitle" }}
Contact - Nadia Tumiwa
{{ end }}

{{ define "content" }}
<section id="introduction">
	<style>
		@media (max-width: 1069px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1320x990.jpg");
			}
		}

		@media (min-width: 1070px) and (max-width: 1333px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1584x1188.jpg");
			}
		}

		@media (min-width: 1334px) and (max-width: 1861px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2112x1584.jpg");
			}
		}

		@media (min-width: 1862px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2640x1980.jpg");
			}
		}

		#introduction .bg-image {
			background-position: 44% center;
		}
	</style>
	<div class="container padded">
		<div class="bg-image"></div>
	</div>
</section>
<section id="media">
	<div class="container padded">
		<div class="wrapper">
			<div class="section-title">
				<h2>Media</h2>
				<span>Featured Videos</span>
			</div>
			<div class="videos">
				{{ range .Videos }}
				<article class="video">
					<h3 class="video-title">{{ .Title }}</h3>
					<iframe src="{{ .EmbedURL }}" title="{{ .ExtendedTitle }}" allow="fullscreen"
						loading="lazy"></iframe>
				</article>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "media" }}
{{ template "base" }}
{{ end }}
