{{ define "styles" }}
<link rel="stylesheet" href="/static/css/performances.css">
{{ end }}

{{ define "pageTitle" }}
Performances - Nadia Tumiwa
{{ end }}

{{ define "content" }}
<section id="introduction">
	<style>
		@media (max-width: 1069px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1320x990.jpg");
			}
		}

		@media (min-width: 1070px) and (max-width: 1333px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_1584x1188.jpg");
			}
		}

		@media (min-width: 1334px) and (max-width: 1861px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2112x1584.jpg");
			}
		}

		@media (min-width: 1862px) {
			#introduction .bg-image {
				background-image: url("/static/images/Nadia_Tumiwa_7246_2640x1980.jpg");
			}
		}

		#introduction .bg-image {
			background-position: 44% center;
		}
	</style>
	<div class="container padded">
		<div class="bg-image"></div>
	</div>
</section>

<section id="upcoming-performances">
	<div class="container padded">
		<div class="wrapper">
			<div class="section-title">
				<h2>Upcoming Performances</h2>
			</div>
			<div class="performances">
				{{ if .UpcomingPerformances }}
				{{ range $index, $performance := .UpcomingPerformances }}
				<article class="{{ if eq $index 0}}first {{ end }}performance">
					<div class="description">
						<h3 class="title">{{ $performance.Title }}</h3>
						<h4 class="venue">{{ $performance.Venue }}</h4>
						<ol class="programme">
							{{ range $pieceIndex, $piece := $performance.Programme }}
							<li class="piece">
								<span class="composer">{{ $piece.Composer }}</span>: {{ $piece.Title }}
							</li>
							{{ end }}
						</ol>
					</div>
					<time datetime="{{ $performance.ExactDate }}">{{ $performance.Date }}</time>
					<div class="ticketing">
						<a class="buy-tickets" href="{{ $performance.TicketLink }}" target="_blank">tickets</a>
					</div>
				</article>
				{{ end }}
				{{ else }}
				<p class="stay-posted">The next chapter is being prepared with care.</p>
				<p class="stay-posted">Stay close for updates.</p>
				{{ end }}
			</div>
		</div>
	</div>
</section>

<section id="past-performances">
	<div class="container padded">
		<div class="wrapper">
			<div class="section-title">
				<h2>Past Performances</h2>
			</div>
			<div class="performances">
				{{ range $index, $performance := .PastPerformances }}
				<article class="{{ if eq $index 0 }}first {{ end }}performance">
					<div class="description">
						<h3 class="title">{{ $performance.Title }}</h3>
						<h4 class="venue">{{ $performance.Venue }}</h4>
						<ol class="programme">
							{{ range $pieceIndex, $piece := $performance.Programme }}
							<li class="piece">
								<span class="composer">{{ $piece.Composer }}</span>: {{ $piece.Title }}
							</li>
							{{ end }}
						</ol>
					</div>
					<time datetime="{{ $performance.ExactDate }}">{{ $performance.Date }}</time>
					<div class="ticketing">
						<a class="buy-tickets past">Past</a>
					</div>
				</article>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}

{{ define "perfs" }}
{{ template "base" . }}
{{ end }}
