#brief-biography .bg-image {
    margin-top: -10.4vw;
    background-position: right top;
    clip-path: polygon(0 0, 100% 10.4vw, 100% 100%, 0 100%);

    z-index: 10;
}

#brief-biography .wrapper {
    z-index: 20;
}

#brief-biography .padded {
    padding-top: 0;
    padding-bottom: 80px;
}

@media (max-width: 1259) {
    #brief-biography .wrapper {
        width: 45%;
    }
}

@media (min-width: 1260px) {
    #brief-biography .wrapper {
        color: white;
        width: 40%;
    }

    #brief-biography a {
        color: white;
        border-color: white;
    }

    #brief-biography .padded {
        padding-top: 60px;
        padding-bottom: 120px;
    }
}

#brief-biography h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;

    margin-bottom: 1em;
}

@media (min-width: 600px) {
    #brief-biography h2 {
        font-size: calc(40px + 20*((100vw - 600px) / 500));
    }
}

@media (min-width: 1100px) {
    #brief-biography h2 {
        font-size: 60px;
    }
}

.short-text {
    line-height: 1.6;
    font-weight: 400;

    margin-top: 2em;
    margin-bottom: 3.5em;
}