/* =================================
              Contact
================================= */

#contact {
    background-color: #e9eaec;
    margin-top: -10.4vw;
}

#contact .container {
    justify-content: center;
}

#contact .padded {
    padding-top: 10.4vw;
    padding-bottom: 5.2vw;
}

/* =================================
            Section Title
================================= */

#contact .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

#contact .section-title h2 {
    width: 100%;
    text-align: center;
}

#contact .section-title span {
    font-weight: 700;
    text-align: center;
}

/* =================================
            Contact Card
================================= */

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 525px;
    height: 300px;

    padding: 30px 40px;
    background-color: white;
}

.card .name {
    text-transform: lowercase;

    font-size: 35px;
    letter-spacing: 0.05rem;
}

.card .position {
    text-transform: lowercase;

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 60px;
}

.card .phone {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.card .email {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.card .location {
    margin-top: 65px;

    text-transform: lowercase;
    font-weight: 500;
}

@media (max-width: 549px) {
    .card {
        display: flex;
        flex-direction: column;

        max-width: 300px;
        max-height: 300px;

        padding: 15px 20px;
    }

    .card .position {
        margin-bottom: 70px;
    }

    .card .location {
        margin-top: 80px;
    }
}