#contact .container {
    justify-content: center;
    background-color: #e9eaec;
}

#contact {
    background-color: var(--main-light);

    /* 
    There seems to be a gap in between
    sections. This gap takes the color
    the <body>, therefore I cannot deal
    with it directly. That's why I have
    opted to use a 10px negative margin
    */

    margin-top: -10px;
}

#contact .wrapper {
    /* 
    This 10px margin was included to 
    offset the 10px negative margin 
    applied unto the <section> with
    id="upcoming-performances"
    */

    margin-top: 10px;
}

/* =================================
            Section Title
================================= */

#contact .section-title {
    margin-bottom: 60px;
}

#contact h2 {
    font-size: 40px;
    font-weight: 700;
    
    margin: 0px;
}

@media (min-width: 600px) {
    #contact h2 {
        font-size: calc(40px + 20*((100vw - 600px) / 500));
    }
}

@media (min-width: 1100px) {
    #contact h2 {
        font-size: 60px;
    }
}

#contact .section-title span {
    font-weight: 700;
}

/* =================================
               Padding
================================= */

#contact .padded {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* =================================
            Business Card
================================= */

.card-container {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.card {
    width: 525px;
    height: 300px;

    padding: 30px 40px;
    background-color: white;
}

.card .name {
    margin: 0px;
    text-transform: lowercase;

    font-size: 35px;
    letter-spacing: 0.05rem;
}

.card .position {
    margin: 0px;
    text-transform: lowercase;

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 45px;
}

.card .phone {
    margin: 0px;

    font-weight: 700;
}

.card .email {
    margin: 0px;

    font-weight: 700;
}

.card .location {
    margin: 0px;
    margin-top: 50px;

    text-transform: lowercase;
    font-weight: 500;
}