#bio {
    background-color: var(--main-light);
    margin-top: -10.4vw;

    padding-top: 60px;
    padding-bottom: 80px;
}

#bio .container {
    justify-content: center;
}

#bio .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =================================
            Section Title
================================= */

/* disabling pre-set margins */

#bio h2 {
    margin: 0px;
}

/* positional styles for section heading */

#bio .section-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 800px) {
    #bio .section-title {
        margin-top: 60px ;
    }
}

@media (min-width: 1000px) {
    #bio .section-title {
        margin-top: 80px ;
    }
}

@media (min-width: 1250px) {
    #bio .section-title {
        margin-top: 120px ;
    }
}

/* font-size styles for section heading */

#bio h2 {
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
}

@media (min-width: 600px) {
    #bio h2 {
        font-size: calc(40px + 20*((100vw - 600px) / 500));
    }
}

@media (min-width: 1100px) {
    #bio h2 {
        font-size: 60px;
    }
}

/* =================================
            Biography Text
================================= */

#bio article {
    line-height: 1.6;
    font-weight: 400;

    max-width: 740px;
}

#bio p {
    margin: 30px 0px;
}