/* ===================
   Global styles
=================== */

:root {
    --darkest-blue: #0f171d;
    --anti-flash: #EEF1EF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--anti-flash);
}

.frozen {
    overflow: hidden;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}