/* ===================
   Content
=================== */

:root {
    --tablet: 800px;
    --mobile: 799px;
}

.content {
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 799px) {
    .content {
        padding-top: 80px;
    }
}

@media (min-width: 800px) {
    .content {
        padding-left: 120px;
    }
}