/* ===================
   Content
=================== */

:root {
    --hamburger-size: 40px;
    --anti-flash: #EEF1EF;
    --span-height: 5px;
}

#hamburger {
    background-color: transparent;

    width: var(--hamburger-size);
    height: var(--hamburger-size);
    cursor: pointer;
    position: relative;
    top: 22.5px;
    left: var(--hamburger-size);

    border: 0;
    padding: 0;

    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#hamburger span {
    display: block;
    
    height: var(--span-height);
    width: 100%;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .5s ease;
    transition: .5s ease;
    
    position: absolute;
    
    background-color: var(--anti-flash);
    border: none;
    opacity: 1;
    left: 0;
}

#hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
}

#hamburger span:nth-child(2) {
    top: calc(var(--span-height) * 2.75);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger span:nth-child(3) {
    top: calc(var(--span-height) * 5.5);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}