/* ===================
   Nav
=================== */

:root {
   --main-color: #0f171d;
   --anti-flash: #EEF1EF;
}

nav {
   position: fixed;
   top: 0;
   left: 0;

   height: 100vh;
   z-index: 10;

   background-color: var(--main-color);
   overflow: auto;
   -webkit-overflow-scrolling: touch;

   transform: translateX(-100%);
   transition: transform 0.5s ease;
}

nav.open {
   transform: translateX(0);
}

.nav-items {
   box-sizing: border-box;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a {
   color: var(--anti-flash);
   margin: 0;
   text-decoration: none;
}

.social-items {
   padding: 0;
   margin: 0;
   display: flex;
}

svg {
   fill: var(--anti-flash);
}



/* ===================
   Mobile layout
=================== */

@media (max-width: 799px) {
   nav {
      right: 0;
      padding: 100px 0px 0px 40px;
      width: 730;
   }

   .nav-items {
      font-size: 20px;
      font-weight: 500;
      line-height: 60px;
   }

   .social-items {
      margin-top: 30px;
   }

   .icon:nth-child(n+2) {
      margin-left: 20px;
   }

   svg {
      width: 20px;
      height: 20px;
   }
}

/* ===================
   Tablet+ layout
=================== */

@media (min-width: 800px) {
   nav {
      top: 0;
      padding: 80px 0px 0px 120px;
      width: 480px;
   }
   
   .nav-items {
      font-size: 30px;
      font-weight: 500;
      line-height: 90px;
   }

   .social-items {
      margin-top: 40px;
   }

   .icon:nth-child(n+2) {
      margin-left: 30px;
   }

   svg {
      width: 30px;
      height: 30px;
   }
}