<!DOCTYPE html>
<html lang="en" translate="yes">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="apple-mobile-web-app-title" content="">

        <!-- Noah suggested this -->
        <meta name="format-detection" content="telephone=no">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/base.css">
        {% block styles %}{% endblock %}

        <!-- Favicon and Icons -->
    
        <!-- Scripts -->
        <script src="/static/js/script.js" defer></script>
    
        <title>{% block title %}{% endblock %}</title>
    </head>
    <header>
        <div class="sidebar">
            <button id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav>
            <div class="nav-inner">
                <ul class="nav-items">
                    <li class="link"><a href="/">Home</a></li>
                    <li class="link"><a href="/biography">Biography</a></li>
                    <li class="link"><a href="/performances">Performances</a></li>
                    <li class="link"><a href="/contact">Contact</a></li>
                </ul>
                <ul class="social-items">
                    <li class="icon">
                        <a href="https://www.instagram.com/nadiatumiwa/" target="_blank">
                            <svg>
                                <use href="/static/icons/instagram.svg#instagram"></use>
                            </svg>
                            <span class="hidden">Follow Nadia on Instagram</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.facebook.com/nadia.tumiwa" target="_blank">
                            <svg>
                                <use href="/static/icons/facebook.svg#facebook"></use>
                            </svg>
                            <span class="hidden">Like Nadia on Facebook</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.linkedin.com/in/nadia-tumiwa-78173419b/" target="_blank">
                            <svg>
                                <use href="/static/icons/linkedin.svg#linkedin"></use>
                            </svg>
                            <span class="hidden">Connect with Nadia on LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-title">
            <a href="/" target="_blank"><h1>
                Nadia Tumiwa
            </h1></a>
        </div>
    </header>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="container padded">
                <div class="wrapper">
                    <span class="title">Nadia Tumiwa</span>
                    <div class="socials">
                        <ul class="social-items">
                            <li class="icon">
                                <a href="https://www.instagram.com/nadiatumiwa/" target="_blank">
                                    <svg>
                                        <use href="/static/icons/instagram.svg#instagram"></use>
                                    </svg>
                                    <span class="hidden">Follow Nadia on Instagram</span>
                                </a>
                            </li>
                            <li class="icon">
                                <a href="https://www.facebook.com/nadia.tumiwa" target="_blank">
                                    <svg>
                                        <use href="/static/icons/facebook.svg#facebook"></use>
                                    </svg>
                                    <span class="hidden">Like Nadia on Facebook</span>
                                </a>
                            </li>
                            <li class="icon">
                                <a href="https://www.linkedin.com/in/nadia-tumiwa-78173419b/" target="_blank">
                                    <svg>
                                        <use href="/static/icons/linkedin.svg#linkedin"></use>
                                    </svg>
                                    <span class="hidden">Connect with Nadia on LinkedIn</span>
                                </a>
                            </li>
                    </div>
                    <div class="note">
                        <span>Website made by Adam Kadda</span>
                        <span>© <span id="year"></span> Nadia Tumiwa. ALL RIGHTS RESERVED</span>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            document.getElementById('year').textContent = new Date().getFullYear();
        </script>
    </body>
</html>