{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/bio.css">
{% endblock %}

{% block title %}Biography - Nadia Tumiwa{% endblock %}

{% block content %}
<section id="introduction">
    <style>
        @media (max-width: 1069px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_4320x3240.jpg");
            }
        }
        @media (min-width: 1070px) and (max-width: 1333px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_4320x3240.jpg");
            }
        }
        @media (min-width: 1334px) and (max-width: 1861px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_4320x3240.jpg");
            }
        }
        @media (min-width: 1862px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_4320x3240.jpg");
            }
        }
        #introduction .bg-image {
            background-position: center center;
        }
    </style>
    <div class="container padded">
        <div class="bg-image"></div>
    </div>
</section>
<section id="bio">
    <div class="container padded">
        <div class="wrapper">
            <div class="section-title">
                <h2>Biography</h2>
            </div>
            <article>
                <p>Nadia Tumiwa is an accomplished Indonesian pianist based in Rotterdam, The Netherlands. Her musical journey began at the age of six in Indonesia, learning piano under the guidance of her mother. Nadia’s dedication to her craft has since blossomed into an impressive career spanning solo, collaborative, and chamber music performances. In 2020, Nadia earned her Bachelor’s degree in Classical Piano Performance from Universitas Pelita Harapan Conservatory of Music, where she studied with Amelia Santoso. She continued her studies at Codarts University of the Arts, completing her Master of Music degree in 2024 under the guidance of Nino Gvetadze and Stephane de May.</p>
                <p>Nadia has a deep passion for both solo and chamber music, which has led her to collaborate with ensembles and musicians across various styles. Since 2022, she has been a member of Essenza Ensemble, an eclectic chamber quintet based in the Netherlands and part of the Nederlandse Strijkkwartet Academie (NSKA) under Marc Danel's mentorship. In 2024, she co-founded Sonora Quatre-Mains, a piano duet dedicated to championing the works of female composers alongside traditional classical repertoire. Her artistry and commitment have earned her recognition in numerous competitions, including first prize at the Gloriamus Piano Competition, the PAL Charity Chamber Music Award with Kuintet 428, and the Most Artistry and Outstanding Performance Awards at the UPH Chamber Music Festival.</p>
                <p>Nadia has also enriched her musicianship through masterclasses with distinguished artists such as Dr. Ayke Agus, Manfred Aust, Josef Anton Scherrer, Prof. Nigel Clayton, Dr. Imma Setiadi, and Prof. Albert Tiu. Additionally, she has received chamber music coaching from celebrated musicians, including Gilles Millet, Marc Danel, and Simone Gramaglia. A dynamic and versatile musician, Nadia has performed at prestigious venues such as De Doelen in Rotterdam. Her dedication to creating meaningful and innovative performances continues to shape her career as a soloist, accompanist, and chamber musician.</p>
            </article>
        </div>
    </div>
</section>
{% endblock %}