{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/con.css">
{% endblock %}

{% block title %}Contact - Nadia Tumiwa{% endblock %}

{% block content %}
<section id="introduction">
    <style>
        @media (max-width: 1069px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_1320x990.jpg");
            }
        }
        @media (min-width: 1070px) and (max-width: 1333px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_1584x1188.jpg");
            }
        }
        @media (min-width: 1334px) and (max-width: 1861px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_2112x1584.jpg");
            }
        }
        @media (min-width: 1862px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_NBB6_2640x1980.jpg");
            }
        }
        #introduction .bg-image {
            background-position: center center;
        }
    </style>
    <div class="container padded">
        <div class="bg-image"></div>
    </div>
</section>
<section id="contact">
    <div class="container padded">
        <div class="wrapper">
            <div class="section-title">
                <h2>Contact</h2>
                <span>I'd love to hear from you!</span>
            </div>
            <div class="card-container">
                <article class="card">
                    <h3 class="name">Nadia Tumiwa</h3>
                    <h4 class="position">Classical Pianist, Educator</h4>
                    <p><a class="phone" href="tel:+31684088891">06 8408 8891</a></p>
                    <p><a class="email" href="mailto:nadiatumiwa@gmail.com">nadiatumiwa@gmail.com</a></p>
                    <p class="location">Rotterdam, The Netherlands</p>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}