{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/perf.css">
{% endblock %}

{% block title %}Performances - Nadia Tumiwa{% endblock %}

{% block content %}
<section id="introduction">
    <style>
        @media (max-width: 1069px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_7246_1320x990.jpg");
            }
        }
        @media (min-width: 1070px) and (max-width: 1333px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_7246_1584x1188.jpg");
            }
        }
        @media (min-width: 1334px) and (max-width: 1861px){
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_7246_2112x1584.jpg");
            }
        }
        @media (min-width: 1862px) {
            #introduction .bg-image {
                background-image: url("/static/images/Nadia_Tumiwa_7246_2640x1980.jpg");
            }
        }
        #introduction .bg-image {
            background-position: 44% center;
        }
    </style>
    <div class="container padded">
        <div class="bg-image"></div>
    </div>
</section>
<section id="performances">
    <div class="container padded">
        <div class="wrapper">
            <div class="section-title">
                <h2>All Performances</h2>
            </div>
            <div class="events">
                <article class="first performance">
                    <div class="description">
                        <h3 class="title">Zondagochtend concert</h3>
                        <h4 class="venue">Het Numans-Dorps-huis, Numansdorp</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Bonis</span>: Six Valses Caprice</li>
                            <li class="piece"><span class="composer">Schubert</span>: Fantasia in F minor</li>
                            <li class="piece"><span class="composer">Chaminade</span>: Pieces Romantique</li>
                            <li class="piece"><span class="composer">Mozart</span>: Sonata KV 381</li>
                            <li class="piece"><span class="composer">Beach</span>: Summer Dreams Op. 47</li>
                            <li class="piece"><span class="composer">Saint-Saëns</span>: Danse Macabre Op. 40</li>
                            <li class="piece"><span class="composer">Dvořák</span>: Slavonic Dances Op. 46, No. 5</li>
                            <li class="piece"><span class="composer">Dvořák</span>: Slavonic Dances Op. 72, No. 2</li>
                            <li class="piece"><span class="composer">Brahms</span>: Hungarian Dance No. 5</li>
                        </ol>
                    </div>
                    <time datetime="2025-06-01 10:00">June 1, 2025</time>
                    <div class="ticketing">
                        <a class="buy-tickets" href="https://www.numansdorpshuis.nl/product/18497933/zondagochtendconcert-sonora-1-juni" target="_blank">tickets</a>
                    </div>
                </article>
                <article class="performance">
                    <div class="description">
                        <h3 class="title">Vrijheidsmaaltijd</h3>
                        <h4 class="venue">Kunstkerk, Dordrecht</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Fauré</span>: Dolly Suite Op. 56 Berceuse</li>
                            <li class="piece"><span class="composer">Ravel</span>: Pavane pour une infante defunte</li>
                            <li class="piece"><span class="composer">Hensel</span>: Walzer H81</li>
                            <li class="piece"><span class="composer">Brahms</span>: Waltz Op. 39 No. 15</li>
                            <li class="piece"><span class="composer">Hurwitz</span>: City of Stars</li>
                            <li class="piece"><span class="composer">Chaminade</span>: Pieces Romantique</li>
                            <li class="piece"><span class="composer">Bonis</span>: Six Valses Caprice</li>
                            <li class="piece"><span class="composer">Satie</span>: Gymnopédies No. 1</li>
                            <li class="piece"><span class="composer">Hisaishi</span>: One Summer's Day</li>
                            <li class="piece"><span class="composer">Relivka</span>: Spring Day, Cherry Blossoms & You</li>
                            <li class="piece"><span class="composer">Lennon</span>: Imagine</li>
                            <li class="piece"><span class="composer">Ravel</span>: Ma mère l'Oye, II. Petit Poucet Mvt. 1</li>
                            <li class="piece"><span class="composer">Mozart</span>: Sonata KV 381 Mvt. 2</li>
                            <li class="piece"><span class="composer">Hisaishi</span>: The Path of the Wind</li>
                            <li class="piece"><span class="composer">Schubert</span>: Fantasia in F minor</li>
                            <li class="piece"><span class="composer">Dvořák</span>: Slavonic Dances Op. 72, No. 2</li>
                            <li class="piece"><span class="composer">Elgar</span>: Salut D'amour</li>
                            <li class="piece"><span class="composer">Brahms</span>: Hungarian Dance No. 5</li>
                        </ol>
                    </div>
                    <time class="passed" datetime="2025-05-05 17:00">May 5, 2025</time>
                    <div class="ticketing">
                        <a class="buy-tickets sold-out" href="https://www.kunstkerk.com/agenda/vrijheidsmaaltijd" target="_blank">Sold out</a>
                    </div>
                </article>
                <article class="performance">
                    <div class="description">
                        <h3 class="title">Paasconcert</h3>
                        <h4 class="venue">Kunstkerk, Dordrecht</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Grieg</span>: Peer Gynt Suite Op.46 Morning Wood</li>
                            <li class="piece"><span class="composer">Bonis</span>: Six Valses Caprice</li>
                            <li class="piece"><span class="composer">Chaminade</span>: Pieces Romantique</li>
                            <li class="piece"><span class="composer">Brahms</span>: Hungarian Dance No.5</li>
                            <li class="piece"><span class="composer">Mozart</span>: Sonata KV 381</li>
                            <li class="piece"><span class="composer">Dvořák</span>: Slavonic Dances Op.72, No.2</li>
                            <li class="piece"><span class="composer">Dvořák</span>: Slavonic Dances Op.46, No.5</li>
                        </ol>
                    </div>
                    <time class="passed" datetime="2025-04-20 19:30">April 20, 2025</time>
                    <div class="ticketing">
                        <a class="buy-tickets sold-out" href="https://www.kunstkerk.com/agenda/paasconcert" target="_blank">Sold out</a>
                    </div>
                </article>
                <article class="performance">
                    <div class="description">
                        <h3 class="title">Gluren bij de Buren: (On)bekend?!</h3>
                        <h4 class="venue">Lodewijk Pincoffsweg 87</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Brahms</span>: Hungarian Dance No. 5</li>
                            <li class="piece"><span class="composer">Mozart</span>: Das Veilchen</li>
                            <li class="piece"><span class="composer">Chausson</span>: Le Colibri</li>
                            <li class="piece"><span class="composer">Chaminade</span>: 6 Pièces Romantiques</li>
                            <li class="piece"><span class="composer">Faure</span>: Après un Rêve</li>
                            <li class="piece"><span class="composer">Grieg</span>: Ein Traum</li>
                        </ol>
                    </div>
                    <time class="passed" datetime="2024-12-15 11:00">February 2, 2025</time>
                    <div class="ticketing">
                        <a class="buy-tickets sold-out" href="https://glurenbijdeburen.nl/nl/programma/rotterdam#822" target="_blank">Sold out</a>
                    </div>
                </article>
                <article class="performance">
                    <div class="description">
                        <h3 class="title">Muziekfestival ZOOM!</h3>
                        <h4 class="venue">Landgoed Middachten, De Steeg</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Chausson</span>: Concert for Violin, Piano and String Quartet, Op. 21</li>
                            <li class="piece"><span class="composer">Sibelius</span>: Valse Triste</li>
                            <li class="piece"><span class="composer">Ravel</span>: Alborada del Gracioso</li>
                            <li class="piece"><span class="composer">Auric</span>: Adieu, New York!</li>
                        </ol>
                    </div>
                    <time class="passed" datetime="2024-06-08 09:00">June 8, 2024</time>
                    <div class="ticketing">
                        <a class="buy-tickets sold-out" href="">Sold out</a>
                    </div>
                </article>
                <article class="performance">
                    <div class="description">
                        <h3 class="title">Talent Break</h3>
                        <h4 class="venue">De Doelen, Rotterdam</h4>
                        <ol class="programme">
                            <li class="piece"><span class="composer">Schoenberg</span>: Chamber Symphony No. 1, Op. 9</li>
                        </ol>
                    </div>
                    <time class="passed" datetime="2024-04-03 12:30">April 3, 2024</time>
                    <div class="ticketing">
                        <a class="buy-tickets sold-out">Sold out</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
